.site-footer {
  &::before {
    display: inline-block; // S'assure que l'image peut être transformée
    animation: rotation1 3s linear infinite;
    line-height: 0;
    will-change: transform; // Prépare le navigateur à gérer la transformation
  }
  &::after {
    display: inline-block; // S'assure que l'image peut être transformée
    animation: rotation2 5s linear infinite;
    line-height: 0;
    will-change: transform; // Prépare le navigateur à gérer la transformation
  }
  ul{
    li {
    }
    &::after {
      display: inline-block; // S'assure que l'image peut être transformée
      animation: rotation1 10s linear infinite;
      line-height: 0;
      will-change: transform; // Prépare le navigateur à gérer la transformation
    }
  }
}